@model Task01.Models.AgendaItem
@{
    ViewData["Title"] = "تعديل بند";
}

<h1 class="h3 mb-4">تعديل بند الأجندة</h1>

<partial name="_Form" model="Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
