@model Task01.Models.Speaker
@{
    ViewData["Title"] = "إضافة متحدث";
}

<h1 class="h3 mb-4">إضافة متحدث</h1>

<partial name="_Form" model="Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
